@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  /* height: 100vh; */
  color: black;
  background-image: linear-gradient(
    to right,
    rgb(242, 112, 156),
    rgb(255, 148, 114)
  );
  display: flex;
  flex-direction: column;
  align-items: center;
}
.waviy {
  padding-top: 15px;
}
.waviy span {
  position: relative;
  display: inline-block;
  font-size: 60px;
  color: #fff;
  text-shadow: 0 0 30px #ffffff;
  text-transform: uppercase;
  animation: flip 3s infinite;
  animation-delay: calc(0.3s * var(--i));
}
@keyframes flip {
  0%,
  80% {
    transform: rotateY(360deg);
  }
}

.games {
  width: 90%;
  margin: 35px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 60px;
  align-items: center;
  text-align: center;
  justify-items: center;
}
img {
  width: 550px;
  border-radius: 20px 20px 0 0;
}

.card h2 {
  padding-top: 10px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 24px;
  text-shadow: 0 0 30px #ffffff;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 550px;
  height: 400px;
  background: rgb(255, 255, 255);
  border-radius: 20px;
  transition: border 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border: rgb(250, 250, 250) 0.2em solid;
  border-top: 0;
  border-left: 0;
  display: none;
  float: left;
}

.card:hover {
  box-shadow: 0px 0px 30px 0.5px black;
}
.games {
  overflow: hidden;
}
.card button {
  width: 9em;
  height: 3em;
  font-weight: bold;
  border-radius: 30em;
  font-size: 15px;
  font-family: inherit;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  margin-bottom: 35px;
  cursor: pointer;
}

.card button::before {
  content: "";
  width: 0;
  height: 3em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    to right,
    rgb(242, 112, 156),
    rgb(255, 148, 114)
  );
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}
.show {
  display: block;
}
button:hover::before {
  width: 9em;
}
.btn {
  font-size: 18px;
  height: 50px;
  width: 150px;
  font-weight: bold;
  border-radius: 20px;
  box-shadow: 0.3em 0.3em 0.9em #00000015;
  transition: border 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}
.btn:hover {
  background-color: rgb(242, 112, 156);
  box-shadow: 0.3em 0.3em 0.9em #ffffff;
}
.btn.active {
  background-color: rgb(242, 112, 156);
  color: white;
  box-shadow: 0.3em 0.3em 0.9em #ffffff;
}
.butt {
  margin: 40px 0;
  display: flex;
  width: 50%;
  justify-content: space-between;
}
